name: Test My Action

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            channel: ubuntu
          - os: macos-latest
            channel: osx
          - os: windows-latest
            channel: windows

    steps:
      - uses: actions/checkout@v5
      - name: Install Wine
        uses: ./install-wine
      - name: Install Font
        uses: ./install-fonts
      - name: Setup Android
        uses: ./install-android-dependencies
      - name: Publish Game to itch.io
        if: false  # Disabled while waiting on credentials
        uses: ./publish-itchio
        with:
          channel: ${{ matrix.channel }}
          file: 'butler.zip'
          version: '1.0.0'
          ITCHIO_USER: ${{ secrets.ITCHIO_USER }}
          ITCHIO_GAME: ${{ secrets.ITCHIO_GAME }}
          ITCHIO_TOKEN: ${{ secrets.ITCHIO_TOKEN }}
      - name: Test Dotnet is installed
        if: matrix.os != 'windows-latest'
        run: |
          ${{ env.WINEEXE }} dotnet --info
        shell: bash

      # Test Content Builder Automation
      - name: Build Content (DesktopGL)
        id: build_content
        uses: ./build-content
        with:
          content-builder-repo: 'MonoGame/MonoGame-CBPlatform-BuilderTest'
          content-builder-path: 'Content'
          assets-repo: 'MonoGame/MonoGame-CBPlatform-TestAssets'
          assets-path: ''
          monogame-platform: 'DesktopGL'
          output-folder: 'CBPlatformTest/CBPlatformTest.DesktopGL/bin/Release/net9.0/win-x64/Content'
          upload-output: 'false'
